.cards-container {
  padding: 1em;
  .hide {
    visibility: hidden;
  }
  .card__text {
    font-size: 1.5rem;
    margin: 0;
  }
  button {
    padding: 0.5em;
  }
}

.cards-container,
.Card {
  display: grid;
}

.Card {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin-inline: auto;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  opacity: 0;
  transform: translateY(-60%);
  pointer-events: none;

  &.active {
    opacity: 1;
    transform: translateY(0);
    backface-visibility: visible;
    pointer-events: auto;
    &.flip {
      transform: rotateY(180deg);
    }
  }

  .card-back {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    backface-visibility: hidden;
    background-color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    .card__icons-container {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
  }
}

.card-finish,
.card-front,
.card-back {
  border: 1px solid;
  border-radius: 5px;
  padding: 0.5em;
  width: 600px;
  aspect-ratio: 2/1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 3px 3px #ccc;

  .card-finish__icons-container {
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
    button {
      display: flex;
      align-items: center;
      gap: 0.5em;
      text-decoration: none;
    }
  }
}
.card-finish {
  margin-inline: auto;
}
