@use "./variables" as var;

.Category-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;

  h1 {
    margin-bottom: 1.2em; // Space below the category title
    span{
      color:var.$color-5;
    }
  }

}