@use "./variables" as var;

.Category-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 24px;  // Matched the font size to the profile page
    margin-bottom: 30px; // Space below the category title
     
  }

  h2 {
    font-size: 24px;
    color: black; // Text color for "There are currently no sets in this category."
  }
}