@use "./variables" as var;

.set-container {
  .set-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    Button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .set-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px dashed;
    padding-bottom: 20px;
    margin-bottom: 20px;
    align-items: stretch;

    .set-info-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .set-info-options {
      display: flex;
      flex-direction: column;
      align-items: center;

      .dropdown {
        width: 100%;
      }
    }
  }

}