@use "./variables" as var;

.set-container {
  .set-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    Button {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .set-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 2px dashed;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .set-info-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      >div {
        flex: 1;
      }
    }

    .set-info-options {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      >div {
        flex: 1;
      }

      .dropdown {
        width: 100%;
        padding-left: 20px;

        .dropdown-toggle {
          width: 100%;
        }

        .dropdown-menu {
          width: 97%;
        }
      }

      .form-check {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;

        input[type="checkbox"] {
          order: 2;
        }
      }
    }
  }
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  >div {
    flex: 1;
    margin-bottom: 10px;
  }

  .fa-trash:hover {
    cursor: pointer;
  }
}