@use "./variables" as var;

.set-container {
  .set-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    Button {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .set-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 2px dashed darken(var.$color-3, 40);
    padding-bottom: 20px;
    margin-bottom: 20px;

    .set-info-details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      textarea{
        resize: none;
      }

      > div {
        flex: 1;
      }
    }

    .set-info-options {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      > div {
        flex: 1;
      }

      .dropdown {
        width: 100%;
        padding-left: 20px;

        .dropdown-toggle {
          width: 100%;
        }

        .dropdown-menu {
          width: 97%;
        }
      }

      .form-check {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 20px;

        input[type="checkbox"] {
          order: 2;
          border-width: 2px;
    
          &:checked{
            background-color: var.$color-5;
            border-color: var.$color-5;
          }
        }
      }
    }
  }
}

.card-container {
  .card-frontback-container {
    display: flex;
    width: 100%;
    border: solid 1px;
    margin-bottom: 20px;
    border-radius: 5px;

    > div {
      flex: 1;
    }
  }

  .card-container-front.form-floating > input.form-control {
    border: 5px solid lighten(var.$color-1,10);
  }
  .card-container-back.form-floating > input.form-control {
    border: 5px solid lighten(var.$color-4,10);
  }

  .card-container-back {
    position: relative;
  }

  .fa-trash {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .fa-trash:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.footer-button-container {
  display: flex;
  justify-content: center;

  button {
    padding-left: 25rem;
    padding-right: 25rem;
    background-color:var.$color-5;
    border-color:inherit;
  }
}
