@use "./variables" as var;

header {
  background-color: var.$color-3;
  .navbar-brand img {
    height: 50px;
  }
  .navbar {
    padding: 0;
  }
}

nav {
  .nav-item.dropdown {
    transition: all 0.3s ease;
    margin-left: 0.5em;
    padding: 1em 0.2em;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 2px;
    &:hover {
      border-bottom-color: var.$color-5;
    }
    & a::after {
      color: var.$color-5;
      animation: 4s infinite arrowDown;
    }
  }
  .btn-primary {
    background-color: var.$color-5;
    border-color: var.$color-5;
  }
  .right .btn {
    margin-left: 0.5em;
  }
  .profile-btn {
    font-size: 1.3rem;
    padding: 0 0.5em;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-3px);
    }
  }
}

@keyframes arrowDown {
  from,
  10%,
  to {
    transform: translateY(0);
  }
  50%,
  60% {
    transform: translateY(4px);
  }
}
