.profile-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 20px;

  h3 {
    font-size: 24px; 
    margin-bottom: 20px; // Space below the username title
  }

  .nav-tabs {
    margin-bottom: 20px; // Space below the tabs
  }

  // Styling for the Set items
  .set-item-container {
    background-color: #FFD700;
    padding: 10px;
    margin-bottom: 20px; // Space between each set item
    border: 2px solid #000;
  }
}