@use "./variables" as var;

.set-item-container {
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: lighten($color: var.$color-2, $amount: 15);
  box-shadow: 0px 5px 5px #ccc;
    
  > a:first-child {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    
    &:hover {
      transform: translateX(5px);
      color: darken(var.$color-5, 10%);
    }
  }

  .icon-primary {
    width: 25px;
    height: 30px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  .set-item-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin-left: 25px;
    }

    .fav-icon:hover {
      cursor: pointer;
    }
  }
}
