@use "./variables" as var;

.ViewSet {
  max-width: 800px;
  margin: 0 auto;

  h1,
  h2 {
    margin-bottom: 0;
  }

  h2 {
    background-color: var.$color-3;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1rem;
    align-self: flex-end;
  }

  .heart-icon {
    font-size: 1.8rem;
  }

  .cards-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 5px;
    .btn {
      font-size: 1.8rem;
      color: var.$color-5;
      margin: 0;
    }
  }

  .set-info {
    padding-inline: 2em;
    justify-content: space-between;
    > * {
      margin: 0;
      padding: 1em;
      border-radius: 10px;
    }
    > p {
      font-size: 1.2rem;
      font-weight: bold;
      flex-basis: 20%;
    }
    div.description {
      flex-basis: 70%;
      h3 {
        font-size: 1.2rem;
      }
    }
  }

  .cards-container {
    padding: 1em;
    .hide {
      visibility: hidden;
    }
    .card__text {
      font-size: 2rem;
      margin: 0;
    }
    button {
      padding: 0.5em;
    }
  }

  .cards-container,
  .Card {
    display: grid;
  }

  .Card {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin-inline: auto;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    opacity: 0;
    transform: translateY(-60%);
    pointer-events: none;

    &.active {
      opacity: 1;
      transform: translateY(0);
      backface-visibility: visible;
      pointer-events: auto;
      &.flip {
        transform: rotateY(180deg);
      }
    }

    .card-back {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      backface-visibility: hidden;
      background-color: white;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      .card__icons-container {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }
    }
  }

  .card-finish,
  .card-front,
  .card-back {
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5em;
    width: 760px;
    aspect-ratio: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 5px 5px #ccc;

    .card-finish__icons-container {
      position: absolute;
      left: 0.5em;
      bottom: 0.5em;
      button {
        display: flex;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
      }
    }
  }
  .card-finish {
    margin-inline: auto;
  }
}
